# General
NODE_ENV=development
PORT=4000
JWT_SECRET=change-me-in-production
JWT_REFRESH_SECRET=change-me-in-production

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/erp-dev?retryWrites=true&w=majority

# Client
EXPO_PUBLIC_API_URL=http://localhost:4000/api/v1
